<!--
<app-toolbar></app-toolbar>
-->

<h1 class="text-3xl font-bold text-blue-600">
  Tailwind y Angular Material funcionan correctamente 🚀
</h1>

<button mat-raised-button color="primary">
  Botón de Angular Material
</button>
<!--
<br>

<h1>MANUAL DE PRÁCTICAS </h1>
<p>Elaborado por: <strong>M.T.I. Marco A. Ramírez Hernández</strong></p>

<hr/>
<h2>Ejercio 1: </h2>
<app-ejercicio-01></app-ejercicio-01>

<hr/>
<h2>Ejercio 2: </h2>
<app-ejercicio-02></app-ejercicio-02>

<hr/>
<h2>Ejercio 3: </h2>
<app-ejercicio-03></app-ejercicio-03>

-->